/*!
 * Faithora, formerly Project E1616 - Church Application (https://www.faithora.com)
 * Copyright 2018, Onos David
 * by Onos David (onosokwe@gmail.com; github.com/onosokwe) 
 */

/* pagecontent */
#pagecontent {display: block; background: #f0f0f0; width: 100%; margin: 0; padding: 0; margin-top: 3px; height:; position: absolute; z-index: 1; font-family: 'Barlow', Helvetica, sans-serif;}
#pagecontent a:focus {box-shadow: none !important;}

/* sidebar */
#sidebar {width: 280px; z-index: 3; background: #fff; height: 100vh; height: 100%; padding:0; overflow-y: auto;  overflow-x: hidden; margin-bottom: 60px; transition: 0.4s all; display: block; position: fixed; border-right: 1px solid #aaa;}
#sidebar::-webkit-scrollbar-track {border: 1px solid #fff; background-color: #fff; padding: 2px 0;}
#sidebar::-webkit-scrollbar {width: 10px; background-color: #424858;}
#sidebar::-webkit-scrollbar-thumb {border-radius: 10px; box-shadow: inset 0 0 6px #424858; background-color: rgba(0,0,0,0.2); border: 1px solid #f7f7f7;}
#sidebar a {text-decoration: none; outline: none; text-transform: capitalize;}

/* sidenav */
.sidenav {padding: 0; margin-top: 10px; list-style: none; max-height: 100vh; z-index: 1;}
.sidenav li {display: inline-block; width: 100%; line-height: 50px; text-indent: 12px;}
.sidenav li:last-child {margin-bottom: 90px;}
.sidenav li a {color:#757575; text-decoration: none; display: block; font-size: 16px; outline: none; transition: 0.2s all;}
.sidenav li a.active {background: #e9e9e9;}
.sidenav li a:hover, .sidenav li a:focus {text-decoration: none; color: #65676b; background: #e9e9e9;}
.sidenav li a i {margin-right: 25px; font-size: 20px; transition: 0.2s all ease-in-out;}

/* main_crumb */
.main_crumb {background: #fff; margin: 0; margin-left: 280px; width: 100%; border-bottom: 1px solid #aaa; padding:8px 20px; margin-top: 10px; position: fixed; z-index: 999;}
.main_crumb a {font-size: 14px; margin: 0; padding:0; color: #757575; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-decoration: none; line-height: 30px;}
.main_crumb a:hover, .main_crumb a:focus {text-decoration: underline; outline: none; color: #444;}
.main_crumb span {width: 20px; color: #757575; display: inline-block; text-align:center;}

/* mainbody */
.main_body {position: relative; padding: 30px 10px 30px 280px; z-index: 1; margin-top: 40px; width: 100%;}

/* main_lord */
.main_lord {display: block; background-color: #f1f1f1; padding: 20px; margin: 5px 0 20px; box-shadow: 0 2px 2px -3px #222; border: 1px solid #aaa;}
.main_lord h1 {font-size: 20px; text-transform: uppercase; font-weight: 500; margin: 0; margin-bottom: 20px;} 
.main_lord h1 span {color: #0099cc;}

/* buttons */
.btnrows {margin: 0; text-align: left; text-transform: capitalize;}
.btnrows a.btn {font-size: 14px; border-radius: 0; padding: 5px 10px; min-width: 90px; margin-right: 10px; transition: 0.2s all; margin-bottom: 10px; display: inline-block; cursor: pointer; background-color: #fff; outline: none; text-transform: capitalize;}
.btnrows a.btn i {margin-right: 5px;}
.btnrows a.btn-add {border: 1px solid #009933; color: #009933;}
.btnrows .btn-add:hover, .btnrows .btn-add:focus {border: 1px solid #009933; color: #fff; background-color: #009933;}
.btnrows a.btn-list {border: 1px solid #00afef; color: #00afef;}
.btnrows .btn-list:hover, .btnrows .btn-list:focus {border: 1px solid #00afef; color: #fff; background-color: #00afef;}

/* mycard */
.main_lord .mycardimgbox {border-bottom: 1px solid #dfdfdf; width: 100%;}
.main_lord .mycardimgbox img {border-radius: 50%; display: block; margin: 10px auto; width: 120px; height: 120px;} 
.main_lord .card-text {margin-bottom: 5px;}

/* form */
.main_lord label {font-weight: bold; margin-bottom: 10px;}
.main_lord .form-group {margin-bottom: 20px;}
.main_lord .form-control {border: 1px solid #888; padding:auto 15px;}
.main_lord .btn {padding: 4px 15px; font-size: 11px; background: #0099cc; border-color: #0099cc; color:#fff !important;}
.main_lord .btn:hover, 
.main_lord .btn:focus {outline: none; background-color: #0099cc; border-color: #0099cc;}
.main_lord .btn-delete {background-color: #A03418; border-color: #A03418;}
.main_lord .btn-apprv {background-color: forestgreen; border-color: forestgreen;padding: 8px 15px; font-size: 13px;}
.main_lord .btn-delete:hover, 
.main_lord .btn-delete:focus {outline: none; background-color: #A03418; border-color: #A03418;}
.main_lord .btn-apprv:hover, 
.main_lord .btn-apprv:focus {outline: none; background-color: forestgreen; border-color: forestgreen;}
.main_lord .form-control {border:1px solid #aaa;background:#FFF;color:#444;padding-left:10px;border-radius:3px;box-shadow:none;}
.main_lord .form-control:active, .main_lord .form-control:focus {border:1px solid #3c8dbc;outline:none; background-color: #fff;}
.main_lord textarea {background: #fff;}
.main_lord input[type="date"] {padding-top: ;}
.main_lord input[type="hidden"] {display: none !important; visibility: hidden !important}
.main_lord .checkbox label {font-size: 14px;}
.main_lord select::-ms-expand {display: none;}
.main_lord select {-webkit-appearance: none; -moz-appearance: none; background: #fff; appearance: none; outline: none;}
.main_lord input[type='number']::-webkit-inner-spin-button, 
.main_lord input[type='number']::-webkit-outer-spin-button {-webkit-appearance: none; -moz-appearance: none; appearance: none; margin: 0;}
.main_lord input[type='number'] {-moz-appearance:textfield; -webkit-appearance: textfield;}
.main_lord label span {font-weight: 300 !important; font-style: italic; color: #f00 !important;}

/* table */
.main_lord .table tr {border-top-left-radius: 4px; border-top-right-radius: 4px; text-align: left;}
.main_lord .table tr th {background: #444; color: #fff; height: 10px; font-size:15px; padding:7px 10px; text-align: left;}
.main_lord .table tr td {background:#fff; color: #212529; font-size: 14px; padding: 6px 10px; border: 1px solid #ccc; border-top:none}
.main_lord .table tr td a {outline: none; color: #1f2532; text-decoration: underline; text-transform: capitalize;}
.main_lord .table .btn {padding: 2px 10px; background: forestgreen; border-color: forestgreen; text-decoration: none;}
.main_lord .table .del {padding: 2px 10px; background: #f75756; border-color: #f75756;}

@media(max-width:768px){
.main_lord {margin-left: 0px; margin-right: 0px;}}

/* maincontent */
#maincontent.menuDisplayed #sidebar {width: 280px; z-index: 0; display: none; transition: 0.4s width;}
#maincontent.menuDisplayed #pagecontent {padding-left: 0; transition: 0.4s padding-left;}
#maincontent.menuDisplayed .main_body {z-index: 1; position: relative; width: 100%; padding-left: 0;transition: 0.4s padding-left;}
#maincontent.menuDisplayed .main_crumb {margin-left: 0; transition: 0.4s margin-left;}
#maincontent.menuDisplayed .main_crumb small {margin-right: 0; transition: 0.4s margin-right;}
@media (max-width: 576px){
.main_crumb {margin-top:0;}
}
@media (max-width: 768px){
#sidebar {display: none;}
.main_body {padding-left: 0px; padding-right: 0px;}
.main_crumb {margin-left: 0; transition: none}
.main_crumb small {margin-right: 0; transition: 0s margin-left;}
#maincontent.menuDisplayed #sidebar {width: 280px; z-index: 99; display: block;}
#maincontent.menuDisplayed #pagecontent {padding-left: 0; position: absolute; z-index: 1;}
#maincontent.menuDisplayed .main_body {z-index: 0; position: fixed; padding-left: 0px !important;}
#maincontent.menuDisplayed .main_crumb {margin-left: 280px; transition: none;}}
